.womens-running-content-wrapper .image-large-womens-running {
  min-height: 502px;
  height: 72vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #111111;
}
.womens-running-content-wrapper .image-large-womens-running.section-one{
  background-image: url("https://content.nike.com/content/dam/one-nike/en_lu/HO16/Running/PWH/Womens/HO16_RUNNING_W_PWH_1_NA_1600px.jpg.transform/full-screen/HO16_RUNNING_W_PWH_1_NA_1600px.jpg");
}
.womens-running-inner-wrapper {
  max-width: 10060px;
  padding: 43px 61px;
  margin-right: auto;
  margin-left: auto;
}
.image-large-womens-running .text-wrapper{
  max-width: 230px;
  padding-top: 130px;
}
.image-large-womens-running .text-wrapper h2{
  font-size: 27px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.image-large-womens-running .text-wrapper p{
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 9px;
}
