.womens-page-container {
  background-color: #dcdcdc;
}
.womens-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100%;
}
.nike-women-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 2px solid black;*/
  padding: 50px;
  background-color: #ffffff;
  /*position: relative;*/
}
.nike-women-text-wrapper {
  /*border: 2px solid black;*/
}
.nike-women-text-wrapper h1 {
  font-size: 45px;
}
.womens-sneak-boots-container {
  position: relative;
  min-height: 425px;
  /*height: 0px;*/
  /*min-height: 0;*/
  /*min-height: 67vh;*/
  /*width: 100%;*/
  /*min-height: 472px;*/
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*padding: 50px;*/
  /*border: 2px solid green;*/
 /*img-height / img-width * 100*/
}
#sneak-boots {
  /*min-height: 425px;*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*top: 0;*/
  /*max-width: 100%;*/
  /*z-index: -1;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*color: #fff;*/
  width: 100%;
  /*border: 2px solid yellow;*/
}
.sneak-boot-text-wrapper {
  /*height: 230px;*/
  /*width: 475px;*/
  /*border: 2px solid red;*/
  text-align: right;
  /*margin-right: 50px;*/
  position: absolute;
  padding: 10px 60px;
}
.four-ways-text {
  font-size: 40px;
  font-family: 'Roboto: 700', sans-serif;
  color: #333333;
  padding-bottom: 10px;
}
.cold-wet-weather {
  font-family: 'Roboto: 300', sans-serif;
  color: #434343;
  padding-bottom: 40px;
}
.sneak-boot-text-wrapper h1 {
  color: #222222;
}
.sneak-boot-text-wrapper h1:hover {
  text-decoration: underline;;
  cursor: pointer;
}
.womens-categories-container {
  min-height: 300px;
  height: 61vh;
  /*width: 100%;*/
  background-image: url('./../app/images/womens/womens_categories_pic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.right-shoe-for-you-text-wrapper {
  /*border: 1px solid red;*/
  position: absolute;
  margin: 100px 60px;
}
.the-right-shoe {
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 10px;
}
.different-workouts {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  line-height: 15px;
}
.womens-shoe-wrapper {
  /*height: 397px;*/
  height: 41vh;
  /*border: 2px solid black;*/
}
.womens-categories-text-container {
  /*width: 100%;*/
  height: 20vh;
  /*height: 200px;*/
  /*border: 2px solid yellow;*/
  /*padding-left: 385px;*/
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  /*justify-content: center;*/
  white-space: nowrap;
  /*overflow: hidden;*/
  /*position: absolute;*/
  bottom: 0;
}
.ask-an-expert {
  height: 19.5vh;
  /*width: 560px;*/
  width: 23%;
  /*border: 2px solid red;*/
  display: inline-block;
}
.womens-text-wrapper {
  /*height: 130px;*/
  height: 19.5vh;
  /*width: 120px;*/
  width: 19%;
  /*border: 2px solid red;*/
  display: inline-block;
  /*margin-right: 95px;*/
  text-align: center;
  padding: 7vh;
}
.womens-running-text-wrapper {
  /*padding-left: 8vw;*/
}
.womens-text-wrapper a {
  color: black;
  text-decoration: none;
}
.womens-text-wrapper a:hover {
  color: black;
  text-decoration: underline;
}
.womens-text-wrapper h1 {
  font-size: 17px;
  padding-bottom: 5px;
}
.womens-text-wrapper p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
.tights-bras-yoga-container {
  min-height: 282px;
  height: 52.5vh;
  /*width: 100%;*/
  background-image: url('./../app/images/womens/tights_bras_yoga.jpg');
  /*display: flex;
  justify-content: space-around;
  align-items: center;*/
  /*padding-top: 30px;*/
  /*border: 2px solid red;*/
  position: relative;
}
.shop-by-text-wrapper {
  height: 7.5vh;
  /*border: 2px solid yellow;*/
  padding-top: 2vh;
  padding-left: 7vh;
}
.tights-bras-yoga-text-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*border: 2px solid red;*/
  /*height: 314px;*/
  height: 47.5vh;
  width: 100%;
  bottom: 0;
  position: absolute;
}
.tights-bras-yoga-container h1 {
  color: #ffffff;
}
.tights-bras-yoga-container h1:hover {
  text-decoration: underline;
  cursor: pointer;
}
.shoes-legs-container {
  /*min-height: 512px;*/
  min-height: 296px;
  height: 72.5vh;
  background-image: url('./../app/images/womens/shoes_legs.jpg');
  /*padding-top: 70px;
  padding-left: 48px;*/
}
.featured-text-wrapper {
  /*border: 2px solid yellow;*/
  height: 17vh;
  padding-top: 10vh;
  padding-left: 7vh;
}
.below-shoes-legs-container {
  min-height: 267px;
  height: 31vh;
  /*width: 100%;*/
  /*border: 2px solid red;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}
.nike-beautiful-text-wrapper {
  /*border: 2px solid blue;*/
  width: 415px;
  text-align: center;
}
.our-favorite-text-wrapper {
  /*border: 2px solid blue;*/
  width: 415px;
  text-align: center;
}
.below-shoes-legs-container h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 21px;
  padding-bottom: 10px;
}
.below-shoes-legs-container p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-bottom: 20px;
}
.below-shoes-legs-container button {
  border-radius: 3px;
  background-color: #222222;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: 12px;
}
.below-shoes-legs-container button:hover {
  cursor: pointer;
}
