.womens-lifestyle-content-wrapper .image-large-womens-lifestyle {
  min-height: 360px;
  height: 51vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #111111;
}
.womens-lifestyle-content-wrapper .image-large-womens-lifestyle.section-one{
  background-image: url("https://content.nike.com/content/dam/one-nike/en_us/season-2016-ho/Sportswear/PWH/NA/FA16_NSW_PWH_womens_500_a.jpg.transform/full-screen/FA16_NSW_PWH_womens_500_a.jpg");
}
.womens-lifestyle-inner-wrapper {
  max-width: 10060px;
  padding: 43px 61px;
  margin-right: auto;
  margin-left: auto;
}
.image-large-womens-lifestyle .text-wrapper{
  max-width: 230px;
  padding-top: 130px;
}
.image-large-womens-lifestyle .text-wrapper h2{
  font-size: 27px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.image-large-womens-lifestyle .text-wrapper p{
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 9px;
}
