.boys-soccer-content-wrapper .image-large-boys-soccer {
  min-height: 502px;
  height: 72vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #111111;
}
.boys-soccer-content-wrapper .image-large-boys-soccer.section-one{
  background-image: url("https://content.nike.com/content/dam/one-nike/en_us/season-2016-sp/Boys/0407-Boys-Football-PWH/US/SU16_0407_YA_GF_GBL_PWH_NA.jpg.transform/full-screen/SU16_0407_YA_GF_GBL_PWH_NA.jpg");
}
.boys-soccer-inner-wrapper {
  max-width: 10060px;
  padding: 43px 61px;
  margin-right: auto;
  margin-left: auto;
}
.image-large-boys-soccer .text-wrapper{
  max-width: 230px;
  padding-top: 130px;
}
.image-large-boys-soccer .text-wrapper h2{
  font-size: 27px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.image-large-boys-soccer .text-wrapper p{
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 9px;
}
