<section class="info-top">
  <div class="back-link">
    <a href="#"> <span>&#9666;</span> Continue Shoping</a>
  </div>
  <div class="phone-chat">
    <div class="phone">
      <span class="phone-img"></span>
      <p>1800 806 6453</p>
    </div>
    <div class="chat">
      <span class="chat-img"></span>
      <a href="#">Live Chat</a>
    </div>
  </div>
  <div class="clear"></div>
</section>

<section class="cart-body-wrapper">
  <section class="left-cart-info">
    <section class="free">
      <h2 class="oswald">Free to Join. Free to Ship</h2>
      <p>Nike+ gives free shipping and no hassle returns on every order.</p>
    </section>
    <section class="your-cart-main">
      <div class="your-cart">
        <p class="oswald">Your Cart (#)</p>
      </div>
      <div class="cart-info" ng-repeat="cart in productImages">
        <img ng-src="{{cart.img}}"/>
        <div class="cart-info-shoe">

          <p>{{cart.name}}</p>
          <ul>
            <li><strong>Style#:</strong> 878670-001</li>
            <li><strong>Size:</strong>9.5</li>
            <li><strong>Color:</strong>Black/Anthracite/White/Dark Grey</li>
            <li><strong>Qty:</strong>{{cart.quantity}} @ ${{cart.price}}</li>
          </ul>

          <button class="remove-button cart-info-button oswald" type="button" name="button" ng-click="remove(cart.id, cart.price)">Remove</button>

          <button class="remove-button cart-info-button oswald" type="button" name="button" ng-click="edit(cart.id,cart.quantity)">Edit</button>

          <div class="remove-button cart-info-button oswald">
            <input ng-model="cart.quantity" type="number" class="oswald" name="edit-cart">
          </div>

        </div>
      </div>
    </section>
  </section>
  <section class="right-cart-info oswald">
    <div class="cart-summary cart-info-inner-wrapper">
      <div class="summary">
        <h2>Summary</h2>
      </div>
    </div>
    <hr>
    <div class="subtotal cart-info-inner-wrapper">
      <p class="subtotal-word">Subtotal</p>
      <p class="subtotal-cost">${{total}}</p>
      <!-- <div class="clear"></div> -->
    </div>
    <hr>
    <div class="shipping-info cart-info-inner-wrapper">
      <p>Estimated Shipping & Handling</p>
      <p>$0.00</p>
    </div>
    <div class="shipping-time cart-info-inner-wrapper">
      <ul>
        <li>Next-Day: $0.00 Arrives 1-2 Days</li>
      </ul>
    </div>
  </div>

  <hr>
  <div class="tax cart-info-inner-wrapper">
    <p>Tax</p>
    <p>$_._</p>
  </div>
  <hr>

  <div class="total-cost cart-info-inner-wrapper">
    <p>Total</p>

    <p>${{total}}</p>

  </div>
  <hr>
  <div class="checkout cart-info-inner-wrapper" ng-click="twilio()">
    <!-- DO NOT COMMENT OUT THE NG CLICK CHECKOUT CART FUNCTION IN NG CLICK!!! -->
    <!-- <button class="orange-button" type="button" name="button" ng-click="checkoutcart()">Checkout</button> -->

    <!-- <button class="paypal-button" type="button" name="button">Checkout with PayPal</button> -->


    <a ui-sref="payments" class="checkout-button">Checkout</a>
  </div>
  <!-- <div class="card-pay cart-info-inner-wrapper">
    <form action="/your-server-side-code" method="POST">
      <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_63kRPoKVSdivI9xDMxDPXsDZ"
      data-amount="2000"
      data-name="Demo Site"
      data-description="2 widgets"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto">
      </script>
    </form> -->

  </div>
</section>
</section>
