.girls-content-wrapper h1 {
  font-size: 43px;
  line-height: 43px;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 106px;
  text-transform: uppercase;
}
.girls-content-wrapper .girls-img {
  background-image: url("./../app/images/girls/girls-head-image.jpg");
  min-height: 430px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  max-width: 10060px;
  padding: 43px 61px;
  margin-right: auto;
  margin-left: auto;
}
.girl-text-wrapper {
  max-width: 230px;
  margin-top: 83px;
  margin-bottom: 83px;
  float: right;
}
.girl-text-wrapper h2 {
  font-size: 26px;
  line-height: 26px;
  color: #222222;
  margin-bottom: 3px;
}
.girl-text-wrapper p {
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  margin-bottom: 25px;
}
.girl-text-wrapper a {
  font-size: 15px;
  line-height: 42px;
  color: #ffffff;
  background-color: #222222;
  width: 126px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 21px;
  padding-left: 21px;
}



section.girls-shoes{
  justify-content: space-around;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 51px;
  margin-bottom: 75px;
}

.girls-find-shoes  {
  font-size: 24px;
  line-height: 24px;
  float: left;
  width: 162px;
  text-align: left;
  text-transform: uppercase;

}
.girls-find-shoes p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 31px;

}
.girls-all {
  color: white;
  text-transform: capitalize;
}
.girls-all a {
  background-color: rgb(26, 26, 26);
  font-size: 11px;
  line-height: 38px;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
}
.girls-shoe-box-container {
  padding-left: 230px;
  max-width: 100%;

}
.girls-shoe-box-wrapper {
  display: flex;
  max-width: 100%;
  font-size: 15px;
  color: rgb(146, 146, 146);

}
.girls-shoe-box {
  width: 20%;
  padding-right: 10px;
  padding-left: 10px;
}
.girls-shoe-box img {
  max-width: 100%;
}


.girl-grey-block {
  background-color: rgb(71, 71, 71);
}
.girls-grey-block-wrapper {
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  text-align: center;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.girl-grey-block .girls-signup {
  display: flex;
  padding: 18px;
}
.girl-grey-block .girls-signup h2{
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.girl-grey-block .girls-signup p{
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 10px;
}
.girl-grey-block .girls-signup img {
  font-size: 20px;
  line-height: 20px;
  width: 70px;
}
.girl-grey-block .girls-signup a{
  font-size: 11px;
  line-height: 14px;
  color: #fff;
  text-decoration: none;
  margin-top: 27px;
  text-transform: uppercase;
}
.girl-grey-block .girls-signup a:hover{
  text-decoration: underline;
}
.girls-signup-text{
}

.girls-season-essentials {
  text-align: center;
  padding-top: 19px;
}
.girls-season-essentials h2{
  text-transform: uppercase;
  font-size: 23px;
  line-height: 28px;
}
.girls-season-boxes {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.girl-image-box {
  width: 33%;
  padding-bottom: 58px;
}
.girl-image-box img {
  max-width: 100%;
}
.girl-image-box a{
  padding-top: 15px;
  text-transform: uppercase;
  color: rgb(200, 200, 200);
  font-size: 13px;
  line-height: 16px;
  font-size: 11px;
}

.girls-follow-athletes {
  text-align: center;
  background-color: rgb(245, 245, 245);
}
.girls-follow-athletes a{
  display: block;
  height: 100%
  width: 100%;
  text-decoration: none;
  color: #000;
}
.girls-follow-athletes h2{
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 30px;
  padding-top: 80px;
  text-transform: uppercase;
  max-width: 93px;
  margin-right:auto;
  margin-left:auto;
}
.girls-follow-athletes img{
  width: 35px;
  padding-bottom: 69px;
}
