.boys-content-wrapper h1 {
  font-size: 43px;
  line-height: 43px;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 106px;
  text-transform: uppercase;
}
.boys-content-wrapper .boys-img {
  background-image: url("./../app/images/boys/boys-head-image.jpg");
  min-height: 430px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  max-width: 10060px;
  padding: 43px 61px;
  margin-right: auto;
  margin-left: auto;
}
.boy-text-wrapper {
  max-width: 230px;
  margin-top: 83px;
  margin-bottom: 83px;
  float: right;
}
.boy-text-wrapper h2 {
  font-size: 26px;
  line-height: 26px;
  color: #222222;
  margin-bottom: 3px;
}
.boy-text-wrapper p {
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  margin-bottom: 25px;
}
.boy-text-wrapper a {
  font-size: 15px;
  line-height: 42px;
  color: #ffffff;
  background-color: #222222;
  width: 126px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 21px;
  padding-left: 21px;
}


section.boys-shoes{
  justify-content: space-around;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.boys-find-shoes  {
  font-size: 24px;
  line-height: 24px;
  float: left;
  width: 240px;
}
.boys-all {
  border: solid;
  color: white;
}
.boys-all a {
  background-color: rgb(26, 26, 26);
  font-size: 15px;
  line-height: 38px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.boys-shoe-box-container {
  padding-left: 230px;
  max-width: 100%;
}
.boys-shoe-box-wrapper {
  display: flex;
  max-width: 100%
}
.boys-shoe-box {
  width: 20%;
  padding-right: 10px;
  padding-left: 10px;
}
.boys-shoe-box img {
  max-width: 100%;
}


.boy-grey-block {
  background-color: rgb(71, 71, 71);
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.boy-grey-block .boys-signup {
  display: flex;
  padding: 40px;
}
.boy-grey-block .boys-signup h2{
  font-size: 20px;
  line-height: 20px;
}
.boy-grey-block .boys-signup p{
  font-size: 14px;
  line-height: 17px;
}
.boy-grey-block .boys-signup img {
  font-size: 20px;
  line-height: 20px;
  width: 70px;
}
.boy-grey-block .boys-signup a{
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  margin-top: 27px;
}
.boy-grey-block .boys-signup a:hover{
  text-decoration: underline;
}


.boys-season-essentials {

}
.boys-season-essentials h2{
  text-transform: uppercase;
}
.boys-season-boxes {
  border: solid;
  border-color: green;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.boy-image-box {
  border: solid;
  width: 33.3%;
}
.boy-image-box a{
  border: solid;
  padding-top: 15px;
  text-transform: uppercase;
}

.boys-follow-athletes {
  text-align: center;
  border-color: rgb(245, 245, 245);
}
.boys-follow-athletes h2{
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 30px;
  padding-top: 96px;
  text-transform: uppercase;
}
.boys-follow-athletes img{
  width: 35px;
  padding-bottom: 107px;
}
