.boys-lifestyle-content-wrapper .image-large-boys-lifestyle {
  min-height: 502px;
  height: 72vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #111111;
}
.boys-lifestyle-content-wrapper .image-large-boys-lifestyle.section-one{
  background-image: url("https://content.nike.com/content/dam/one-nike/en_us/season-2016-ho/SHOP/YoungAthletes/Boys/1004_B_PWH_FOOTWEAR/120516_GL_FootwearFinder_Update_4.jpg.transform/full-screen/120516_GL_FootwearFinder_Update_4.jpg");
}
.boys-lifestyle-inner-wrapper {
  max-width: 10060px;
  padding: 43px 61px;
  margin-right: auto;
  margin-left: auto;
}
.image-large-boys-lifestyle .text-wrapper{
  max-width: 230px;
  padding-top: 130px;
}
.image-large-boys-lifestyle .text-wrapper h2{
  font-size: 27px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.image-large-boys-lifestyle .text-wrapper p{
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 9px;
}
