.mens-button {
  padding: 15px 15px;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: #ffffff;
  /*background-color: #222222;*/
  /*color: #ffffff;*/
  font-size: 14px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.75s;
  cursor: pointer;
}
.nike-men {
  min-height: 150px;
  /*border: 2px solid red;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.nike-men-text-wrapper {
  /*border: 2px solid black;*/
}
.nike-men-text-wrapper h1 {
  font-size: 45px;
}
.pendleton-container {
  /*min-height: 517px;*/
  height: 83vh;
  width: 100%;
  /*border: 1px solid black;*/
  /*background-image: url('../app/images/mens/Pendlton.jpg');*/
  /*background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
  position: relative;
  /*padding-top: 80px;*/
}
.pendleton-left-text-wrapper {
  color: #d7cdc1;
  /*border: 2px solid white;*/
  /*margin-top: 150px;*/
  margin: 5vh 1vh;
  position: absolute;
  padding: 50px;
}
.pendleton-left-text-wrapper h1 {
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 30px;
  letter-spacing: 2px;
}
.pendleton-left-text-wrapper p {
  font-size: 16px;
  padding-bottom: 30px;
  font-weight: lighter;
}
.pendleton-left-text-wrapper h2 {
  font-size: 14px;
}
.pendleton-left-text-wrapper h2:hover {
  text-decoration: underline;
  cursor: pointer;
}
#pendleton-vid{
  position: absolute;
  top: 0;
  max-width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 100%;
}
.categories-container {
  min-height: 300px;
  height: 78vh;
  width: 100%;
  /*border: 1px solid blue;*/
  background-image: url('./../app/images/mens/men_categories.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  /*display: flex;*/
  justify-content: space-between;
  align-items: center;
}
.categories-left-text-wrapper {
  /*width: 200px;*/
  /*border: 1px solid black;*/
  position: absolute;
  /*margin: 20vh 2vw;*/
  margin-top: 25vh;
  /*margin-left: 45px;*/
  padding: 2vh 2vw;
}
.find-the-right-shoe {
  /*font-size: 43px;*/
  font-size: 2.5em;
  line-height: 45px;
}
.up-your-game {
  font-size: 14px;
  line-height: 18px;
  color: #222222;
  padding-bottom: 10px;
}
.shop-all-mens-shoes {
  font-size: 11px;
  font-weight: bold;
}
.shop-all-mens-shoes a {
  color: black;
}
.mens-shoes-container {
  height: 100%;
  width: 78%;
  /*border: 2px solid black;*/
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*align-items: center;*/
  /*margin-right: 5vw;*/
  padding-right: 7vw;
}
.mens-shoes-container a{
  text-decoration: none;
  color: black;
}
.mens-shoes-container a:hover{
  text-decoration: underline;
}
.mens-shoes-container h1:hover {
  cursor: pointer;
}
.mens-text-wrapper {
  /*height: 40%;*/
  width: 30%;
  /*border: 2px solid red;*/
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.mens-running-text:hover {
  cursor: pointer;
}
.mens-basketball-text {

}
.mens-soccer-text {
  /*padding-right: 5px;*/
  padding-left: 34px;
}
.mens-training-text {
  padding-bottom: 48px;
}
.mens-sportswear-text {
  padding-bottom: 48px;
}
.mens-jordan-text {
  padding-bottom: 48px;
  padding-left: 34px;
}
.vest-watch-container {
  min-height: 300px;
  height: 84vh;
  width: 100%;
  /*border: 2px solid blue;*/
  background-image: url('./../app/images/mens/Vest_WatchMiles.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.vest-watch-hover-container {
  /*border: 2px solid red;*/
  height: 62.5vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.vest-hover-wrapper, .watch-hover-wrapper {
  /*border: 2px solid gray;*/
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.below-vest-watch-container {
  position: absolute;
  width: 100%;
  /*border: 2px solid yellow;*/
  bottom: 0;
  height: 21vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.below-vest-text-wrapper, .below-watch-text-wrapper {
  /*border: 2px solid blue;*/
  width: 250px;
  text-align: center;
}
.below-vest-text-wrapper h1, .below-watch-text-wrapper h1 {
  font-size: 21px;
  padding-bottom: 10px;
}
.below-vest-text-wrapper h2, .below-watch-text-wrapper h2 {
  font-size: 12px;
}
.below-vest-text-wrapper:hover, .below-watch-text-wrapper:hover {
  text-decoration: underline;
  cursor: pointer;
}
.orange-shirt-container {
  min-height: 300px;
  height: 84vh;
  width: 100%;
  /*border: 2px solid red;*/
  background-image: url('./../app/images/mens/orange_shirt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*display: flex;
  justify-content: center;
  align-items: flex-end;*/
  /*padding-bottom: 35px;*/
  position: relative;
}
.orange-shirt-hover-wrapper {
  /*border: 2px solid yellow;*/
  height: 67.5vh;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.below-orange-shirt-container {
  width: 100%;
  height: 16vh;
  /*border: 2px solid gray;*/
  text-align: center;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
.below-orange-shirt-text-wrapper {
  /*border: 2px solid black;*/
}
.below-orange-shirt-text-wrapper h1:hover, .below-orange-shirt-text-wrapper h2:hover {
  text-decoration: underline;
  cursor: pointer;
}
.below-orange-shirt-text-wrapper h1 {
  font-size: 21px;
  padding-bottom: 10px;
  /*border: 1px solid black;*/
  /*position: absolute;*/
}
.below-orange-shirt-text-wrapper h2 {
  font-size: 12px;
}
.jacket-ball-container {
  min-height: 300px;
  height: 84vh;
  width: 100%;
  /*border: 2px solid purple;*/
  background-image: url('./../app/images/mens/jacket_ball.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*display: flex;
  justify-content: space-around;
  align-items: flex-end;*/
  /*padding-top: 465px;*/
  position: relative;
}
.jacket-ball-hover-container {
  height: 64vh;
  width: 100%;
  position: absolute;
  /*border: 2px solid green;*/
  display: flex;
  justify-content: space-between;
}
.jacket-hover-wrapper, .ball-hover-wrapper {
  width: 50%;
  /*border: 2px solid red;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.below-jacket-ball-container {
  position: absolute;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  /*border: 2px solid black;*/
}
.below-jacket-text-wrapper, .below-ball-text-wrapper {
  /*border: 2px solid yellow;*/
  text-align: center;
  width: 505px;
  /*margin-top: 66vh;
  margin-bottom: 5vh;*/
}
.below-jacket-text-wrapper {
  /*margin-bottom: 6vh;*/
}
.below-ball-text-wrapper {
  /*margin-bottom: 7vh;*/
}
.below-jacket-text-wrapper:hover, .below-ball-text-wrapper:hover {
  text-decoration: underline;
  cursor: pointer;
}
.below-jacket-text-wrapper h1, .below-ball-text-wrapper h1 {
  font-size: 21px;
  padding-bottom: 10px;
}
.below-jacket-text-wrapper p, .below-ball-text-wrapper p {
  font-size: 12px;
}
