@import url('https://fonts.googleapis.com/css?family=Oswald');

.oswald{
  font-family: 'Oswald', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}
.clear{
  clear: both;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
}
header nav {
  display: flex;
}
header nav a {
  padding-left: 23px;
  padding-right: 23px;
  font-size: 14px;
  color: rgb(17, 17, 17);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}
.header_top {
  display: block;
  width: 100%;
}
.header_top_content {
  float: right;
  padding-right: 33px;
  padding-top: 12px;
  padding-bottom: 4px;
}
.header_top_content a{
  margin-right: 12px;
  margin-left: 12px;
  color: #8D8D8D;
  font-size: 12px;
  line-height: 15px;
}
.header_top_content a:hover{
  cursor: pointer;
}
.cart {
  width: 20px;
  margin-bottom: -3px;
}
.flag {
  width: 20px;
  margin-bottom: -3px;
}
.header_bottom {
  display: flex;
  justify-content: space-between;
  padding-right: 33px;
  padding-left: 33px;
  padding-top: 21px;
  padding-bottom: 21px;
}
.nike-image {
  width: 58px;
}
input {
  padding-left: 8px;
  margin-right: 11px;
}
