@import url('https://fonts.googleapis.com/css?family=Oswald');

.oswald{
  font-family: 'Oswald', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}
.clear{
  clear: both;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
}
header nav {
  display: flex;
}
header a {
  padding-left: 23px;
  padding-right: 23px;
  font-size: 14px;
  color: rgb(17, 17, 17);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}
.mobile {
  display: none;
}
.header_top {
  display: block;
  width: 100%;
}
.header_top_content {
  float: right;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 4px;
}
.header_top_content a{
  margin-right: 12px;
  margin-left: 12px;
  color: #8D8D8D;
  font-size: 12px;
  line-height: 15px;
}
.header_top_content a:hover{
  cursor: pointer;
}



.join-login {
  /*background-color: #4CAF50;
color: white;
padding: 16px;
font-size: 16px;*/
border: none;
cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .join-login {
    /*background-color: #3e8e41;*/
}




.cart {
  width: 20px;
  margin-bottom: -3px;
}
.flag {
  width: 20px;
  margin-bottom: -3px;
}
.header_bottom {
  display: flex;
  justify-content: space-between;
  padding-right: 33px;
  padding-left: 33px;
  padding-top: 21px;
  padding-bottom: 21px;
}
.nike-image {
  width: 58px;
}
input {
  padding-left: 8px;
  margin-right: 11px;
}
header hr {
  margin-bottom: 0px;
}
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 767px) {

}




@media only screen and (max-width: 718px) {
    header input {
        display: none;
    }
}
@media only screen and (max-width: 650px) {
  .flag {
      display: none;
  }
}
@media only screen and (max-width: 561px) {
  .header_bottom {
    display: block;
    text-align: center;
  }
  header nav {
    display: flex;
    flex-wrap: wrap;
  }
  header nav a {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mobile {
    display: initial;
  }
  .desktop {
    display: none;
  }

}
@media only screen and (max-width: 547px) {
    .header_top_content {
      text-align: center;
    }
    .header_top_content a{
      /*flex-direction: column;*/

    }
    .flag {
        display: none;
    }
}
@media only screen and (max-width: 520px) {

}

@media only screen and (max-width: 400px) {

}
