<!-- <div ng-repeat="user in users">
  {{user.name}}<br> {{user.email}}
  <br>
  <button type="button" name="button" ui-sref="order({id: user.id})">View My Cart</button>
  <button type="button" name="button" ui-sref="products({id: user.id, cartid: user.orderid})">Products</button>
  <br><br>
</div> -->
<br>
<br>
<label>First Name:
<input ng-model="fname"></input>
</label>
<br>
<br>
<label>Email:
<input ng-model="email"></input>
</label>
<br>
<button ng-click="postUsers(fname,email)">LOGIN</button>
