.individual-shoe-body-wrapper {
  display: flex;
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;


}
.shoe-view {
  width: 60%;
  /*padding-left: 30px;*/

}
.shoe-individual-view {
  float: left;
  width: 80px;
  padding-right: 20px;
}
.shoe-individual-view img{
width: 100%;
}
.shoe-big-view {
  padding-left: 80px;
  max-width: 100%;
}
.shoe-big-view img{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.shoe-purchase-info {
  width: 40%;
  margin-left: 24px;
}
.shoe-purchase-info h2{
  font-size: 30px;
  line-height: 33px;
  padding-bottom: 7px;
}
.shoe-purchase-info .shoe-name{
  font-size: 14px;
  line-height: 14px;
  color: #666666;
  font-style: italic;
  padding-bottom: 3px;
}
.shoe-purchase-info .shoe-price{
  font-size: 20px;
  line-height: 22px
}
.cart-info {
  width: 99%;
}
.cart-info .top-line {
  font-size: 11px;
  line-height: 15px;
  color: #666666;
  display: inline-block;
  width: 49%;
  padding-bottom: 10px;
}
.cart-info .shoe-style {
  text-align: right;
}
.grey-option {
  width: 107px;
  font-size: 12px;
  line-height: 40px;
  background-color: rgb(218, 218, 218);
  text-align: center;
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 2px;
  margin-left: 10px;
}
.orange-button {
  width: 172px;
  background-color: rgb(246, 72, 6);
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 6px;
}


.help-info p {
  font-size: 12px;
  line-height: 18px;
  color: #222222;
  margin-left: 39px;
}
