.home-content-wrapper .image-large{
  min-height: 430px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.home-content-wrapper .image-large.section-one{
  background-image: url("./../app/images/home/give_nike_gray.jpg");
}
.home-inner-wrapper {
  max-width: 1000px;
  padding: 15px;
}
.image-large .text-wrapper{
  max-width: 230px;
}
.image-large .text-wrapper h2{
  font-size: 29px;
  line-height: 32px;
  text-transform: uppercase;
}
.image-large .text-wrapper p{
  font-size: 11px;
  line-height: 13px;
}
.image-large .text-wrapper a {
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  text-decoration: none;
}
.image-large .text-wrapper a:hover {
  text-decoration: underline;
}

.home-content-wrapper .image-large.section-two{
  position: relative;
  height: 0px;
  min-height: 0;
  padding-bottom: 43.750276%; /*img-height / img-width * 100*/
}

#bgvid {
  position: absolute;
  top: 0;
  max-width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 100%;
}

.home-content-wrapper .image-large.section-three{
  background-image: url("./../app/images/home/give-creativity.jpg");
}

.article-wrapper {
  display: flex;
  justify-content: space-between;

}


article {
  /*width: 25%;*/
}

article h3 {
  color: black;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

article li {
  color: rgb(83, 83, 83);
  font-size: 11px;
  line-height: 13px;
  text-decoration: none;
}

article a {
  text-decoration: none;
}
