.shoe-options-container {
  justify-content: space-around;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: 100px;
  margin-left: 100px;
  padding-bottom: 50px;
}

.shoe-options-box img{
  width: 300px;
  padding-top: 50px;
  padding-bottom: 15px;
  margin-right: 30px;
  border-bottom: solid lightgrey 1px;
}
.shoe-options-box {
  text-align: left;
}
.shoe-repeat-name {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.shoe-repeat-mini-desc {
  color: #B6B6B6;
  font-size: 12px;
}
.shoe-repeat-price {
  color: #B6B6B6;
  font-size: 12px;
}
