
.shoe-option-title {
  text-align: center;
  margin-right: 125px;
  margin-left: 125px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.shoe-option-title .title-container {
  font-size: 24px;
  display: inline-block;
}
.shoe-option-title .title-container h2{
  font-size: 24px;
  display: inline-block;
  text-transform: uppercase;
}
.shoe-option-title .title-container i{
  color: rgb(146, 146, 146);
}
.sort-by-container{
  display: inline-block;
}
.sort-by-container select{
  background-color: white;
  font-size: 15px;
  line-height: 38px;
  color: #111;
  text-transform: uppercase;
  width: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.shoe-options-container {
  justify-content: space-around;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: 100px;
  margin-left: 100px;
  padding-bottom: 50px;
}

.shoe-options-box img{
  width: 300px;
  padding-top: 50px;
  padding-bottom: 15px;
  border-bottom: solid lightgrey 1px;
}
.shoe-options-box {
  text-align: left;
}
.shoe-repeat-name {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 300px;
}
.shoe-repeat-mini-desc {
  color: #B6B6B6;
  font-size: 12px;
}
.shoe-repeat-price {
  color: #B6B6B6;
  font-size: 12px;
}
