.men-running-content-wrapper .image-large-men-running {
  min-height: 430px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #111111;
}
.men-running-content-wrapper .image-large-men-running.section-one{
  background-image: url("./../app/images/mens-running/mens-running-top-photo.jpg");
}
.men-running-inner-wrapper {
  max-width: 10060px;
  padding: 43px 61px;
  margin-right: auto;
  margin-left: auto;
}


.image-large-men-running .text-wrapper{
  max-width: 230px;
  padding-top: 130px;
}
.image-large-men-running .text-wrapper h2{
  font-size: 27px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.image-large-men-running .text-wrapper p{
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 9px;
}

#grey-border:hover {
  border: 1px solid #ddd;
}
