.girls-basketball-content-wrapper .image-large-girls-basketball {
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #111111;
}
.girls-basketball-content-wrapper .image-large-girls-basketball.section-one{
  background-image: url("https://content.nike.com/content/dam/one-nike/en_us/season-2016-ho/SHOP/YoungAthletes/Girls/10_04_G_PWH_FOOTWEAR/120516_GL_GirlsFootwearFinder_3.jpg.transform/full-screen/120516_GL_GirlsFootwearFinder_3.jpg");
}
.girls-basketball-inner-wrapper {
  max-width: 10060px;
  padding: 43px 61px;
  margin-right: auto;
  margin-left: auto;
}
.image-large-girls-basketball .text-wrapper{
  max-width: 230px;
  padding-top: 130px;
}
.image-large-girls-basketball .text-wrapper h2{
  font-size: 27px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.image-large-girls-basketball .text-wrapper p{
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 9px;
}

.girls-under-image-wrapper {
  margin-top: 260px;
  font-weight: bold;
}

.girls-header-under-image {
  display: flex;
  justify-content: space-around;
  margin-left: 400px;
}

.girls-basketball-jordan-under-image {
  padding-right: 80px;
}
.girls-running-under-image {
  text-decoration: none;
  color: black;
}
.girls-running-under-image:hover {
  text-decoration: underline;
  cursor: pointer;
}
.girls-soccer-under-image:hover {
  text-decoration: underline;
  cursor: pointer;
}
.girls-basketball-under-image:hover {
  text-decoration: underline;
  cursor: pointer;
}
.girls-lifestyle-under-image:hover {
  text-decoration: underline;
  cursor: pointer;
}
.girls-jordan-under-image:hover {
  text-decoration: underline;
  cursor: pointer;
}
